server:
  port: 8081

spring:
  application:
    name: member-firm
  datasource:
    url: jdbc:h2:file:./target/member_db;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

fix:
  initiator:
    config: initiator.cfg
