server:
  port: 8080

spring:
  application:
    name: clearing-house
  datasource:
    url: jdbc:h2:file:./target/clearing_db;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

fix:
  acceptor:
    config: acceptor.cfg
