spring:
  threads:
    virtual:
      enabled: true
  application:
    name: clearing-fix-demo
  datasource:
    url: jdbc:h2:mem:default_db;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      schema-locations: classpath:quickfix-schema.sql
      mode: always
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

kafka:
  topic:
    confirmed-trades: confirmed-trades

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

fix:
  acceptor:
    config: acceptor.cfg
  initiator:
    config: initiator.cfg
